version: "3.9"

services:

  redis:
    image: redis:7
    container_name: rag-redis
    ports:
      - "6379:6379"

  backend:
    build:
      context: ../backend
    container_name: rag-backend
    ports:
      - "8000:8000"
    environment:
      - PYTHONPATH=/app
    volumes:
      - ../backend/data:/app/data
      - ../backend/ingestion/pdfs:/app/ingestion/pdfs
    depends_on:
      - redis

  frontend:
    build:
      context: ../frontend
    container_name: rag-frontend
    ports:
      - "8501:8501"
    depends_on:
      - backend
